@page "/OpenAdminPolygons"

<PageTitle>Open Admin Polygons</PageTitle>

@using OsmNightWatch.Web.Data
@using OsmNightWatch.Lib
@inject IssuesDataService IssuesDataService

<h1>Open Admin Polygons</h1>

<p>Here is a list of all open admin polygons.</p>

@if (issuesData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Issue type</th>
                <th>OSM Type</th>
                <th>OSM Id</th>
                <th>OSM URL</th>
                <th>Additional Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in issuesData.AllIssues.Where(issue => issue.IssueType == "OpenAdminPolygon"))
            {
                <tr>
                    <td>@issue.IssueType</td>
                    <td>@issue.OsmType</td>
                    <td>@issue.OsmId</td>
                    <td><a href=@createOSMUrl(@issue.OsmType, @issue.OsmId) target="_blank">link</a></td>
                    <td>@issue.Details</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IssuesData? issuesData;

    protected override async Task OnInitializedAsync()
    {
        issuesData = await IssuesDataService.GetIssuesDataAsync(DateTime.Now);
    }

    protected string createOSMUrl(string osmType, string osmId){
        return $"https://www.openstreetmap.org/{osmType}/{osmId}";
    }
}
